:root
{
    --Cyan: hsl(179, 62%, 43%);
    --Cyan2: hsla(179, 62%, 43%, 0.795);
    --Bright_Yellow: hsl(71, 73%, 54%);
    --Light_Gray: hsl(204, 43%, 93%);
    --Grayish_Blue: hsl(218, 22%, 67%);
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    background-color: var(--Light_Gray);
}

.main
{
    width: 650px;
    height: 462px;
    margin: 8% auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

/*
    Two half layout
*/
.half1 { flex: 3 }

.half2 { flex: 4; display: flex; flex-direction: row }


/*
    All sections
*/
section { padding: 35px;}


/*
    Offer section
*/
.offer
{
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.offer h2 { color: var(--Cyan); margin: 0 0 20px 0; }

.offer h3 { color: var(--Bright_Yellow); margin-bottom: 10px }

.offer p { color: var(--Grayish_Blue); line-height: 1.6; }


/*
    Subscription section
*/
.subscription
{
    flex: 1;
    background-color: var(--Cyan);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.subscription h3 { color: white; }

.subscription > p:first-of-type { color: rgba(255, 255, 255, 0.5); display: flex; align-items: center; }

.subscription .price
{
    color: white;
    font-size: 28px;
    font-weight: 700;
    margin-right: 7px;
}

.subscription > p:last-of-type { color: rgba(255, 255, 255, 0.8); margin-bottom: 22px }

.subscription button
{
    color: white;
    padding: 17px;
    font-weight: 700;
    font-family: 'Karla', sans-serif; 
    border: none;
    border-radius: 5px;
    background-color: var(--Bright_Yellow);
    width: 244px;
    box-shadow: rgba(0, 0, 0, 0.15) -1px 5px 17px;
}


/*
    Why Us section
*/
.why_us
{
    flex: 1;
    background-color: var(--Cyan2);
    display: flex;
    flex-direction: column
}

.why_us h3 
{
    color: white;
    margin-bottom: 18px;
    position: relative;
    top: 7px
}

.why_us p { color: rgba(255, 255, 255, 0.65); margin-bottom: 2px }


/*
    Attribution section
*/

.attribution { font-size: 11px; text-align: center;margin: 25px 0; }

.attribution a { color: hsl(228, 45%, 44%); }
